<div>
    <header class="bg-sky-500 text-white p-4 flex items-center justify-between shadow-md">
        <div class="flex items-center">
            <a routerLink="/work-space" 
               class="flex items-center text-white font-bold hover:underline">
                <lucide-icon [name]="icons.ArrowLeft" class="w-5 h-5 mr-2"></lucide-icon>
                <span>Regresar al Espacio de Trabajo</span>
            </a>
        </div>
        <h1 class="text-lg font-bold">Paúl Sigua</h1>
    </header>
</div>