<header class="bg-sky-500 text-white px-6 py-4 shadow-md">
  <div class="mx-auto flex items-start justify-between">
    <!-- Izquierda: botón de regreso -->
    <a
      routerLink="/work-space"
      class="flex items-center space-x-2 text-white font-semibold hover:underline"
    >
      <lucide-icon [name]="icons.ArrowLeft" class="w-5 h-5"></lucide-icon>
      <span class="hidden md:inline">Regresar</span>
    </a>

    <!-- Centro: título o espacio vacío para balancear -->
    <div class="flex-1 flex justify-center">
      <!-- Aquí podrías dejar el logo o un título corto -->
      <span class="font-bold"><strong>{{info.name}}</strong></span>
    </div>

    <!-- Derecha: usuario -->
    <div class="flex items-center space-x-3">
      <span class="font-medium">Paúl Sigua</span>
      <lucide-icon [name]="'User'" class="w-6 h-6"></lucide-icon>
    </div>
  </div>
</header>
