<div class="flex h-screen overflow-visible">
  <app-sidenav-ws class="relative z-[99999]"></app-sidenav-ws>

  <!-- Main content -->
  <div class="flex-1 flex flex-col overflow-hidden">
    <!-- Header fijo -->
    <app-header-ws class="relative z-[9999] h-[64px] shrink-0"></app-header-ws>

    <!-- Page Content -->
    <main
      class="flex-1 p-6 relative"
      [ngClass]="{
        'overflow-hidden': modalOpen,
        'overflow-y-auto': !modalOpen
      }"
    >
      <!-- Spinner de carga -->
      <div
        *ngIf="isLoading"
        class="absolute inset-0 z-[9998] bg-white/70 backdrop-blur-sm flex items-center justify-center transition-opacity duration-300"
      >
        <div
          class="w-12 h-12 border-4 border-sky-500 border-t-transparent rounded-full animate-spin"
        ></div>
      </div>

      <!-- Contenido del main -->
      <div
        class="bg-white border border-sky-100 rounded-lg p-6 w-full h-auto flex flex-col"
      >
        <div>
          <h1 style="color: var(--colour-h1)" class="text-2xl">Pacientes</h1>
          <p style="color: var(--colour-p)" class="pt-2 pb-3">
            Aqui podrá registrar sus pacientes
          </p>
        </div>
        <div>
          <button
            type="button"
            (click)="modalOpen = true"
            class="text-white bg-sky-500 rounded-lg p-2 hover:bg-sky-600 transition cursor-pointer"
          >
            Agregar Paciente
          </button>

          <!-- Modal solo cubre el <main> -->
          <div
            [class.hidden]="!modalOpen"
            [class.opacity-0]="!modalOpen"
            class="absolute inset-0 z-10 flex items-center justify-center bg-white/10 backdrop-blur-sm transition-opacity duration-300 ease-in-out"
          >
            <div
              class="bg-white p-6 rounded-xl shadow-2xl w-full max-w-md mx-4 transform transition-all duration-300 ease-in-out"
              [ngClass]="{
                'opacity-100 scale-100': modalOpen,
                'opacity-0 scale-95': !modalOpen
              }"
            >
              <h2 class="text-xl font-bold mb-4">Agregar Paciente</h2>
              <form
                [formGroup]="addPatientForm"
                (ngSubmit)="registerPatients()"
              >
                <div class="mb-4">
                  <label class="block text-sm font-medium pb-1"
                    >Cédula del Paciente</label
                  >
                  <input
                    type="text"
                    inputmode="numeric"
                    formControlName="patient_id"
                    maxlength="10"
                    pattern="\d*"
                    class="w-full border outline-0 rounded p-2"
                    style="border-color: var(--colour-border)"
                  />

                  <!-- Error: cédula inválida -->
                  <p
                    *ngIf="
                      addPatientForm
                        .get('patient_id')
                        ?.hasError('cedulaInvalida')
                    "
                    class="text-red-500 text-sm pt-2"
                  >
                    Cédula ingresada no es válida.
                  </p>
                </div>

                <div class="mb-4">
                  <label class="block text-sm font-medium pb-1"
                    >Historia Clínica</label
                  >
                  <input
                    type="text"
                    name="numHistoryCli"
                    inputmode="numeric"
                    formControlName="numero_historia_clinica"
                    class="w-full border outline-0 rounded p-2"
                    style="border-color: var(--colour-border)"
                    maxlength="1"
                    pattern="[0-1]*"
                    (input)="onHistoryCli($event)"
                  />
                </div>

                <div class="flex justify-end gap-2">
                  <button
                    type="button"
                    (click)="modalOpen = false"
                    class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400"
                  >
                    Cancelar
                  </button>
                  <button
                    type="submit"
                    [disabled]="!addPatientForm.valid"
                    class="px-4 py-2 bg-sky-500 text-white rounded hover:bg-sky-600"
                  >
                    Agregar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div>
          <form
            [formGroup]="searchPatientForm"
            (ngSubmit)="searchPatients()"
            class="mt-4 mb-6"
          >
            <label class="block text-sm font-medium pb-1 text-gray-700"
              >Buscar Paciente</label
            >
            <div
              class="flex items-center max-w-xs border border-gray-300 rounded-lg px-3 py-2 shadow-sm"
            >
              <input
                type="text"
                inputmode="numeric"
                formControlName="searchPatientId"
                maxlength="10"
                pattern="\d*"
                class="w-full outline-none placeholder:text-gray-400"
                placeholder="0123456789"
                (input)="searchCedulaInput($event)"
              />
              <lucide-icon
                [name]="icons.Search"
                class="w-5 h-5 text-sky-500 ml-2"
              ></lucide-icon>
            </div>
          </form>
        </div>

        <div class="overflow-x-auto shadow">
          <div
            class="grid grid-cols-7 gap-4 bg-sky-400 px-4 py-3 rounded-t-xl text-center font-semibold text-white shadow"
          >
            <div>Cédula</div>
            <div>Historial Clínico</div>
            <div>Segmentación</div>
            <div>Diagnóstico Médico</div>
            <div>Evaluación IA</div>
            <div>Coincidencia</div>
            <div>Acciones</div>
          </div>

          <div
            *ngFor="let patient of filteredPatients"
            class="grid grid-cols-7 gap-4 items-center px-4 py-3 border-b border-gray-100 text-center bg-white hover:bg-gray-50 transition"
          >
            <div>{{ patient.patient_id }}</div>
            <div>{{ patient.numero_historia_clinica }}</div>
            <div>
              <button
                (click)="uploadComparisonSegmentation(patient.patient_id!)"
                class="text-sky-600 hover:underline"
              >
                Iniciar
              </button>
            </div>
            <div>
              <button
                (click)="generateDiagnosis(patient.patient_id!)"
                class="text-sky-600 hover:underline"
              >
                Crear
              </button>
            </div>
            <div>
              <button
                (click)="evaluationAi(patient.patient_id!)"
                class="text-sky-600 hover:underline"
              >
                Realizar
              </button>
            </div>
            <div class="flex justify-center gap-1">
              <div
                class="w-3 h-3 rounded-full"
                [ngClass]="{
                  'bg-red-500': patient.coincidenciaIA === 'baja',
                  'bg-yellow-400': patient.coincidenciaIA === 'media',
                  'bg-green-500': patient.coincidenciaIA === 'alta'
                }"
                [title]="
                  patient.coincidenciaIA === 'alta'
                    ? 'Coincidencia alta'
                    : patient.coincidenciaIA === 'media'
                    ? 'Coincidencia media'
                    : patient.coincidenciaIA === 'baja'
                    ? 'Coincidencia baja'
                    : 'Sin evaluación'
                "
              ></div>
            </div>

            <div>
              <button (click)="deletePatient(patient.patient_id!)">
                <lucide-icon
                  [name]="icons.Trash2Icon"
                  class="w-5 h-5 text-red-500 hover:text-red-700"
                ></lucide-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<app-alert-save-changes
  [type]="alertType"
  [message]="alertMessage"
  [show]="showAlert"
  (closed)="showAlert = false"
></app-alert-save-changes>
