<div class="flex h-screen overflow-hidden">
  <!-- Sidebar -->
  <app-sidenav-ws class="relative z-20"></app-sidenav-ws>

  <!-- Main content -->
  <div class="flex-1 flex flex-col">
    <app-header-ws class="relative z-10"></app-header-ws>

    <!-- Page content -->
    <main class="flex-1 overflow-y-auto p-6 flex flex-col gap-8">
      <!-- Tarjetas resumen -->
      <div class="flex flex-wrap gap-6">
        <div
          class="flex-1 min-w-[250px] p-4 bg-white border border-sky-100 rounded-lg"
        >
          <h2 class="text-gray-500 text-sm">Predicciones Totales</h2>
          <p class="text-sky-500 text-2xl font-semibold">
            {{ totalPredictions }}
          </p>
        </div>
        <div
          class="flex-1 min-w-[250px] p-4 bg-white border border-sky-100 rounded-lg"
        >
          <h2 class="text-gray-500 text-sm">Pacientes</h2>
          <p class="text-sky-500 text-2xl font-semibold">
            {{ totalPatients }}
          </p>
        </div>
        <div
          class="flex-1 min-w-[250px] p-4 bg-white border border-sky-100 rounded-lg"
        >
          <h2 class="text-gray-500 text-sm">Última predicción</h2>
          <p class="text-sky-500 text-2xl font-semibold">
            {{ lastPrediction || "N/A" }}
          </p>
        </div>
      </div>

      <!-- Histograma -->
      <div class="flex-1 flex flex-col w-full">
        <div
          class="flex-1 w-full bg-white border border-sky-100 rounded-lg p-6 flex flex-col"
        >
          <header class="mb-4">
            <h1 class="text-xl font-semibold text-gray-800">
              Histograma de distribución de datos
            </h1>
            <p class="text-gray-600 text-sm">
              Aquí puedes ver el histograma de la distribución de datos.
            </p>
          </header>
          <!-- Histograma 1 -->
          <article class="w-full min-h-[400px] relative">
            <app-histogram
              class="absolute inset-0 bg-sky-50 p-3"
              [labels]="satisfactionLabels"
              [data]="satisfactionData"
              [options]="{
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                  title: {
                    display: true,
                    text: 'Evaluaciones del uso de IA por los médicos'
                  }
                },
                scales: {
                  x: {
                    title: { display: true, text: 'Nivel de satisfacción' }
                  },
                  y: {
                    title: { display: true, text: 'Cantidad de evaluaciones' },
                    beginAtZero: true
                  }
                }
              }"
            ></app-histogram>
          </article>
        </div>
      </div>
    </main>
  </div>
</div>
