<main class="grid grid-cols-1 md:grid-cols-3 gap-6">
  <!-- Perfil -->
  <div class="bg-white p-6 rounded-lg shadow">
    <div class="mb-4">
      <p class="text-gray-600">
        Aquí puedes gestionar tu información personal y preferencias de cuenta.
      </p>
    </div>
    <h2 class="text-md font-semibold mb-2">Foto de perfil</h2>
    <p class="text-gray-600 pb-6">Esta imagen aparecerá en tu perfil</p>
    <div
      class="w-32 h-32 bg-gray-100 rounded-full mx-auto mb-4 flex items-center justify-center"
    >
      <!-- Aquí puede ir una imagen de perfil real -->
      <span class="text-gray-400">Sin foto</span>
    </div>
    <div class="w-full">
      <label
        for="myFile"
        class="w-full inline-block bg-white border border-gray-300 rounded py-2 px-4 text-center hover:bg-gray-100 cursor-pointer"
      >
        Cambiar foto
      </label>
      <input type="file" id="myFile" name="filename" class="hidden" />
    </div>
  </div>

  <!-- Información personal -->
  <div class="md:col-span-2 bg-white p-6 rounded-lg shadow">
    <h2 class="text-2xl font-bold pb-3">Información Personal</h2>
    <!-- Botón para habilitar edición -->
    <button
      (click)="toggleEdit()"
      type="button"
      class="mb-4 bg-gray-200 text-black px-4 py-2 rounded hover:bg-gray-300 cursor-pointer"
    >
      {{ isEditable ? "Cancelar" : "Editar información" }}
    </button>

    <!-- Formulario -->
    <form
      [formGroup]="form"
      (submit)="guardarCambios()"
      class="grid grid-cols-1 md:grid-cols-2 gap-4"
    >
      <input
        type="text"
        placeholder="Nombre"
        formControlName="name"
        class="border border-gray-300 rounded px-3 py-2 placeholder:text-gray-400"
      />

      <input
        type="text"
        placeholder="Apellidos"
        formControlName="last_name"
        class="border border-gray-300 rounded px-3 py-2 placeholder:text-gray-400"
      />

      <input
        type="text"
        placeholder="Teléfono"
        formControlName="phone"
        class="col-span-2 border border-gray-300 focus:outline-0 rounded placeholder:text-gray-400 px-3 py-2"
      />

      <input
        type="text"
        placeholder="Especialidad"
        formControlName="specialty"
        class="border border-gray-300 focus:outline-0 rounded placeholder:text-gray-400 px-3 py-2"
      />

      <div class="flex w-fit" *ngIf="isEditable">
        <button
          type="submit"
          [disabled]="form.invalid"
          class="bg-sky-500 text-white px-4 py-2 rounded-lg hover:bg-sky-600 transition duration-200 cursor-pointer"
        >
          Guardar cambios
        </button>
      </div>
    </form>
  </div>
</main>

<app-alert-save-changes
  [type]="'success'"
  [message]="'La información se guardo correctamente.'"
  [show]="showSuccess"
></app-alert-save-changes>