<div class="flex flex-col h-screen w-64 bg-white py-6 shadow-[4px_0px_6px_-1px_rgba(0,0,0,0.1)]">
    <div class="grid items-center m-2 mb-7 justify-center text-center">
      <span class="text-xl font-bold text-sky-500">{{info.name}}</span>
    </div>
    <div class="flex border-t w-full border-gray-300"></div>
  
    <nav class="flex-1 space-y-1 px-4 pt-6">
      <a routerLink="/work-space/home" routerLinkActive="bg-blue-50 text-sky-500" [routerLinkActiveOptions]="{ exact: true }"
         class="flex items-center px-3 py-2 rounded-lg text-gray-500 hover:bg-gray-100 transition-colors">
        <lucide-icon [name]="icons.Home" class="w-5 h-5 mr-3"></lucide-icon>
        <span>Inicio</span>
      </a>

      <a routerLink="/work-space/patients" routerLinkActive="bg-blue-50 text-sky-500"
         class="flex items-center px-3 py-2 rounded-lg text-gray-500 hover:bg-gray-100 transition-colors">
        <lucide-icon [name]="icons.Users" class="w-5 h-5 mr-3"></lucide-icon>
        <span>Pacientes</span>
      </a>

      <a routerLink="/work-space/results" routerLinkActive="bg-blue-50 text-sky-500"
         class="flex items-center px-3 py-2 rounded-lg text-gray-500 hover:bg-gray-100 transition-colors">
        <lucide-icon [name]="icons.BarChart2" class="w-5 h-5 mr-3"></lucide-icon>
        <span>Resultados</span>
      </a>
  
      <a routerLink="/work-space/settings" routerLinkActive="bg-blue-50 text-sky-500"
         class="flex items-center px-3 py-2 rounded-lg text-gray-500 hover:bg-gray-100 transition-colors">
        <lucide-icon [name]="icons.Settings" class="w-5 h-5 mr-3"></lucide-icon>
        <span>Configuración</span>
      </a>
  
      <a routerLink="/work-space/help" routerLinkActive="bg-blue-50 text-sky-500"
         class="flex items-center px-3 py-2 rounded-lg text-gray-500 hover:bg-gray-100 transition-colors">
        <lucide-icon [name]="icons.HelpCircle" class="w-5 h-5 mr-3"></lucide-icon>
        <span>Ayuda</span>
      </a>
    </nav>
  </div>
  