<div class="flex flex-col h-screen w-64 bg-white py-6 shadow-[4px_0px_6px_-1px_rgba(0,0,0,0.1)]">
    <nav class="flex-1 space-y-1 px-4 pt-6">
      <a routerLink="/user/account" routerLinkActive="bg-blue-50 text-sky-500"
         class="flex items-center px-3 py-2 rounded-lg text-gray-500 hover:bg-gray-100 transition-colors">
        <lucide-icon [name]="icons.User" class="w-5 h-5 mr-3"></lucide-icon>
        <span>Perfil</span>
      </a>
  
      <a routerLink="/user/settings" routerLinkActive="bg-blue-50 text-sky-500"
         class="flex items-center px-3 py-2 rounded-lg text-gray-500 hover:bg-gray-100 transition-colors">
        <lucide-icon [name]="icons.Settings" class="w-5 h-5 mr-3"></lucide-icon>
        <span>Configuración</span>
      </a>
    </nav>
</div>