<div class="max-w-xl bg-white p-6 rounded-lg shadow">
  <h2 class="text-2xl font-bold pb-3">Cambiar Contraseña</h2>
  <form class="grid gap-4" [formGroup]="passForm">
    <div class="relative justify-center items-center">
      <input
        [type]="showCurrentPassword ? 'text' : 'password'"
        formControlName="password"
        placeholder="Contraseña actual"
        class="flex w-full border border-gray-300 focus:outline-0 placeholder:text-gray-400 rounded px-3 py-2"
      />
      <button
        type="button"
        (click)="toggleRecurrentPassword()"
        class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-500 cursor-pointer"
        tabindex="-1"
      >
        <svg
          *ngIf="!showCurrentPassword"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
          />
        </svg>
        <svg
          *ngIf="showCurrentPassword"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a10.057 10.057 0 012.51-4.232m3.637-2.196A9.967 9.967 0 0112 5c4.477 0 8.268 2.943 9.542 7a9.956 9.956 0 01-4.032 5.003M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 3l18 18"
          />
        </svg>
      </button>
    </div>

    <div class="relative justify-center items-center">
      <input
        [type]="showPassword ? 'text' : 'password'"
        formControlName="newPassword"
        placeholder="Nueva contraseña"
        class="flex w-full border border-gray-300 focus:outline-0 placeholder:text-gray-400 rounded px-3 py-2"
      />
      <button
        type="button"
        (click)="togglePassword()"
        class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-500 cursor-pointer"
        tabindex="-1"
      >
        <svg
          *ngIf="!showPassword"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
          />
        </svg>
        <svg
          *ngIf="showPassword"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a10.057 10.057 0 012.51-4.232m3.637-2.196A9.967 9.967 0 0112 5c4.477 0 8.268 2.943 9.542 7a9.956 9.956 0 01-4.032 5.003M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 3l18 18"
          />
        </svg>
      </button>
    </div>

    <div class="relative justify-center items-center">
      <input
        [type]="showConfirmPassword ? 'text' : 'password'"
        formControlName="confirmPassword"
        placeholder="Confirmar nueva contraseña"
        class="flex w-full border border-gray-300 focus:outline-0 placeholder:text-gray-400 rounded px-3 py-2"
      />
      <button
        type="button"
        (click)="toggleConfirmPassword()"
        class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-500 cursor-pointer"
        tabindex="-1"
      >
        <svg
          *ngIf="!showConfirmPassword"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
          />
        </svg>
        <svg
          *ngIf="showConfirmPassword"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a10.057 10.057 0 012.51-4.232m3.637-2.196A9.967 9.967 0 0112 5c4.477 0 8.268 2.943 9.542 7a9.956 9.956 0 01-4.032 5.003M15 12a3 3 0 11-6 0 3 3 0 016 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 3l18 18"
          />
        </svg>
      </button>
    </div>

    <div class="flex w-fit">
      <button
        (click)="guardarCambios()"
        type="button"
        class="bg-sky-500 text-white px-4 py-2 rounded-lg hover:bg-sky-600 transition duration-200 cursor-pointer"
      >
        Guardar cambios
      </button>
    </div>
  </form>
</div>

<div
  class="fixed top-12 right-6 z-50 w-full max-w-lg transition-all duration-300 ease-in-out"
  [ngClass]="{
    'opacity-100 translate-y-0': showSuccess,
    'opacity-0 translate-y-4 pointer-events-none': !showSuccess
  }"
>
  <app-alert-save-changes
    [type]="'success'"
    [message]="'La configuración se ha guardado correctamente.'"
    [show]="showSuccess"
  ></app-alert-save-changes>
</div>